/*
  File authored by Ryan Vavruska
  ryan_vavruska@student.uml.edu
  2022
*/
.dashboard {
    height: 100vh;
    width: 100vw;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.tablediv {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.userInfo{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    border: 1px solid black;
}

.addSubButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:30px;
    width:30px;
    background-color: green;
    margin-top: 10px;
    cursor:pointer;
    font-size: 24px;
}

.addSubButton:hover {
    background-color: lightgreen;
}