/*
  File authored by Ryan Vavruska
  ryan_vavruska@student.uml.edu
  2022
*/
table {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid;
}

.unsubButton {
    height: 30px;
    width: 30px;
}

.removeProduct {
    background-color: red;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.removeProduct:hover {
    background-color: lightcoral;
}
